version: 1.0.{build}
image: WMF 5
install:
- ps: |
    Get-PackageProvider -Name NuGet -Force
    $PSVersionHost
    Install-Module Pester -Verbose -Force
    Install-Module cchoco -Verbose -Force
    Install-Module xNetworking -Verbose -Force
    Install-Module AzureRM.profile -Verbose -Force
    Install-Module AzureRM.Automation -version -Force
test_script:
    - ps: |
        $testResultsFile = ".\TestsResults.xml"
        $res = Invoke-Pester -OutputFormat NUnitXml -OutputFile $testResultsFile -PassThru -Script .\dsc.Tests.ps1
        (New-Object 'System.Net.WebClient').UploadFile("https://ci.appveyor.com/api/testresults/nunit/$($env:APPVEYOR_JOB_ID)", (Resolve-Path $testResultsFile))
        if ($res.FailedCount -gt 0) {
            throw "$($res.FailedCount) tests failed."
        }
build: off
notifications:
- provider: Slack
  incoming_webhook: https://hooks.slack.com/services/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
  channel: devconnections2016
  on_build_success: true
  on_build_failure: true
  on_build_status_changed: false